<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type='text/css'>
</head>
</div>
   <div class="details">
    <div class="section">
      <div class="section__title">Experience</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">stuff</div>
            <div class="addr">Clovis, NM</div>
            <div class="duration">Aug 2019 - Aug 2021</div>
          </div>
          <div class="right">
            <div class="name">Crew Chief</div>
            <div class="desc">did This and that</div>
          </div>
        </div>
                <div class="section__list-item">
          <div class="left">
            <div class="name">Also Stuff</div>
            <div class="addr">Great Falls, MT</div>
            <div class="duration">Feb 2013 - Aug 2019</div>
          </div>
          <div class="right">
            <div class="name">Security</div>
            <div class="desc">did This and that</div>
          </div>
        </div>

