<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type='text/css'>
</head>
<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">Christopher</span> 
      <span class="last-name">Whiddon</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">Chrisw@gmail.com</span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">111-222-3333</span>
    </div>
    <a href="/about">About Me</a>
    
    <a href="/experience">Experience</a>
    

